{% extends 'base.html' %}

{% block title %} Политика конфиденциальности {% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="pageHead">Политика обработки персональных данных</h1>Настоящая политика обработки персональных данных
    составлена в&nbsp;соответствии с&nbsp;требованиями Закона Республики Беларусь от&nbsp;7&nbsp;мая 2021&nbsp;г.&nbsp;N
    99-З «О&nbsp;защите персональных данных» и&nbsp;определяет порядок обработки персональных данных и&nbsp;меры
    по&nbsp;обеспечению безопасности персональных данных, предпринимаемые Обществом с ограниченной
    ответственностью&nbsp;«Точка отсчета» (далее&nbsp;— Оператор).<br>
    <br>
    <br>
    1. Определение терминов<br>
    <br>
    В&nbsp;настоящей Политике конфиденциальности используются следующие термины: 1.1. Сайт&nbsp;— совокупность всей
    информации (текстовой и&nbsp;графической), находящейся в&nbsp;сети интернет по&nbsp;адресу <a
        href="https://hotfixcafe.by" class="top-a">https://hotfixcafe.by</a>, принадлежащая Оператору.<br>
    <br>
    1.2.&nbsp;Администрация Сайта&nbsp;— сотрудники Оператора, уполномоченные на&nbsp;изменение информации
    на&nbsp;Сайте.<br>
    <br>
    1.3.&nbsp;Пользователь Сайта&nbsp;(далее&nbsp;— Пользователь)&nbsp;— лицо, использующее Сайт Оператора.<br>
    <br>
    1.4.&nbsp;Стороны&nbsp;— Оператор и&nbsp;Пользователь Сайта, заключившие Настоящее Соглашение.<br>
    <br>
    1.5.&nbsp;Персональные данные&nbsp;— любая информация, относящаяся к&nbsp;прямо или косвенно определенному или
    определяемому физическому лицу (субъекту персональных данных).<br>
    <br>
    1.6.&nbsp;Обработка персональных данных&nbsp;— любое действие (операция) или совокупность действий (операций),
    совершаемых с&nbsp;использованием средств автоматизации или без использования таких средств с&nbsp;персональными
    данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
    использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление,
    уничтожение персональных данных.<br>
    <br>
    1.7.&nbsp;Обезличенные персональные данные&nbsp;— данные о&nbsp;Пользователе или Пользователях,
    не&nbsp;представляющие возможности определить принадлежность персональных данных конкретному субъекту персональных
    данных;<br>
    <br>
    1.8.&nbsp;Конфиденциальность персональных данных&nbsp;— обязательное для&nbsp;соблюдения Оператором, Пользователем
    или иным получившим доступ к&nbsp;персональным данным лицом требование не&nbsp;допускать их&nbsp;распространения без
    согласия субъекта персональных данных или наличия иного законного основания.<br>
    <br>
    1.9.&nbsp;Cookies&nbsp;— технические данные, отправляемые Сайтом Пользователю через сеть интернет, хранящиеся
    на&nbsp;устройстве Пользователя, которое использовано для&nbsp;просмотра Сайта и&nbsp;передаваемые на&nbsp;Сайт
    с&nbsp;устройства Пользователя, использованного для&nbsp;просмотра Сайта, при каждом посещении Сайта.<br>
    <br>
    1.10.&nbsp;Форма обратной связи&nbsp;(далее&nbsp;— Форма)&nbsp;— функциональный блок Сайта, который позволяет
    Пользователю формировать и&nbsp;отправлять в&nbsp;Администрацию сайта информацию, в&nbsp;том числе содержащую
    персональные данные Пользователя, в&nbsp;заданном формате.<br>
    <br>
    1.11.&nbsp;IP-адрес&nbsp;— технический адрес Пользователя в&nbsp;сети интернет.<br>
    <br>
    1.12.&nbsp;Мессенджер&nbsp;— бесплатная программа, устанавливаемая на&nbsp;компьютер, смартфон и&nbsp;планшет,
    позволяющая в&nbsp;режиме реального времени обмениваться текстовыми сообщениями, отправлять файлы и&nbsp;совершать
    звонки через интернет.<br>
    <br>
    2. Общие положения<br>
    <br>
    2.1. Настоящая Политика конфиденциальности персональных данных (далее&nbsp;— Политика конфиденциальности) действует
    в&nbsp;отношении всей информации, которую Сайт может получить о&nbsp;Пользователе, во&nbsp;время использования
    последним Сайта и&nbsp;его сервисов.<br>
    <br>
    2.2. Использование Пользователем Сайта означает согласие с&nbsp;настоящей Политикой конфиденциальности
    и&nbsp;условиями обработки персональных данных Пользователя.<br>
    <br>
    2.3. В&nbsp;случае несогласия с&nbsp;условиями Политики конфиденциальности Пользователь обязан прекратить
    использование Сайта.<br>
    <br>
    2.4. Настоящая Политика конфиденциальности непосредственно применяется только к&nbsp;Сайту. Оператор
    не&nbsp;контролирует и&nbsp;не&nbsp;несет ответственность за&nbsp;сайты третьих лиц, на&nbsp;которые Пользователь
    может перейти по&nbsp;ссылкам, доступным на&nbsp;Сайте.<br>
    <br>
    2.5. Оператор не&nbsp;проверяет достоверность персональных данных, предоставляемых Пользователем Сайта.<br>
    <br>
    3. Предмет политики конфиденциальности<br>
    <br>
    3.1. Настоящая Политика конфиденциальности устанавливает обязательства Оператора по&nbsp;неразглашению
    и&nbsp;обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет при
    регистрации на&nbsp;Сайте.<br>
    <br>
    3.2. Персональные данные, разрешённые к&nbsp;обработке в&nbsp;рамках настоящей Политики конфиденциальности,
    предоставляются Пользователем путём заполнения Форм на&nbsp;Сайте, которые включают в&nbsp;себя следующую
    информацию:<br>
    <br>
    3.2.1. поле «Как к Вам обращаться?» предназначено для&nbsp;передачи Пользователем в&nbsp;Администрацию своего имени
    (и/или фамилии) в&nbsp;свободном формате;<br>
    <br>
    3.2.2. поле «Поставщик» предназначено для&nbsp;передачи Пользователем в&nbsp;Администрацию своего имени (и/или
    фамилии) в&nbsp;свободном формате;<br>
    <br>
    3.2.3. поле «Ф.И.О. арендодателя» предназначено для&nbsp;передачи Пользователем в&nbsp;Администрацию своего имени
    (и/или фамилии) в&nbsp;свободном формате;<br>
    <br>
    3.2.4. поле «Ваш телефон» предназначено для&nbsp;передачи Пользователем в&nbsp;Администрацию своего контактного
    телефона в&nbsp;заданном Формой формате;<br>
    <br>
    3.2.5. поле «e-mail» предназначено для&nbsp;передачи Пользователем в&nbsp;Администрацию своего электронного
    почтового адреса в&nbsp;заданном Формой формате;&nbsp;<br>
    <br>
    3.2.6. поле «Пару слов о себе» предназначено для&nbsp;отправки комментария Пользователем в&nbsp;Администрацию
    в&nbsp;свободном формате;<br>
    <br>
    3.2.7. поле «Ваш комментарий» предназначено для&nbsp;отправки комментария Пользователем в&nbsp;Администрацию
    в&nbsp;свободном формате.<br>
    <br>
    3.3. Сайт осуществляет сбор IP-адресов Пользователей. Данная информация используется для&nbsp;обеспечения
    технической работы Сайта.<br>
    <br>
    3.4. Любая иная персональная информация, не&nbsp;оговоренная выше (например, история заявок Пользователем
    в&nbsp;Администрацию и&nbsp;т.&nbsp;д.), равно как и&nbsp;обезличенные персональные данные (например, используемые
    Пользователями устройства для&nbsp;просмотра Сайта и&nbsp;др. статистические данные) подлежат надежному хранению
    и&nbsp;нераспространению, за&nbsp;исключением случаев, предусмотренных в п.&nbsp;5.2. и п.&nbsp;5.3. настоящей
    Политики конфиденциальности.<br>
    <br>
    4. Цели сбора персональной информации пользователя<br>
    <br>
    Оператор может использовать персональные данные Пользователя Сайта в&nbsp;целях: 4.1. Идентификации Пользователя,
    для&nbsp;оформления заказа и (или) заключения договора на&nbsp;оказание услуг дистанционным способом или
    их&nbsp;оплаты.<br>
    <br>
    4.1. Установления с&nbsp;Пользователем обратной связи, включая совершения телефонных звонков, отправку
    смс-сообщений, а&nbsp;также текстовых сообщений либо звонков в&nbsp;мессенджеры для&nbsp;уточнения и&nbsp;обработки
    заявок от&nbsp;Пользователя, а&nbsp;также по&nbsp;другим вопросам, связанным с&nbsp;оказанием услуг
    Пользователю.<br>
    <br>
    4.2. Уведомления Пользователя Сайта о&nbsp;состоянии заказа услуги или их&nbsp;оплаты.<br>
    <br>
    4.3. Предоставления Пользователю, с&nbsp;его согласия, информации об&nbsp;обновлениях ассортимента услуг,
    специальных предложений, информации о&nbsp;ценах, новостной рассылки и&nbsp;иных сведений от&nbsp;имени Оператора
    или от&nbsp;имени партнеров Оператора.<br>
    <br>
    4.4. Осуществления иной рекламной деятельности.<br>
    <br>
    5. Способы и&nbsp;сроки сбора персональной информации<br>
    <br>
    5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом,
    в&nbsp;том числе в&nbsp;информационных системах персональных данных с&nbsp;использованием средств автоматизации или
    без использования таких средств.<br>
    <br>
    5.2. Пользователь соглашается с&nbsp;тем, что Оператор вправе:<br>
    <br>
    5.2.1. Передавать персональные данные третьим лицам, в&nbsp;частности, курьерским службам, организациям почтовой
    связи, организациям электросвязи, исключительно в&nbsp;целях выполнения заказа Пользователя, оформленного
    на&nbsp;Сайте.<br>
    <br>
    5.2.2. Предоставлять доступ к&nbsp;Сайту, в&nbsp;том числе, хранящимся на&nbsp;нем персональным данным, третьим
    лицам, являющимся техническими специалистами, исключительно в&nbsp;целях поддержания работоспособности Сайта, его
    обслуживания, развития и&nbsp;модернизации.<br>
    <br>
    5.3.3. Удалять персональные данные без уведомления Пользователя.<br>
    <br>
    5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Республики
    Беларусь только по&nbsp;основаниям и&nbsp;в&nbsp;порядке, установленным законодательством Республики Беларусь.<br>
    <br>
    5.4. При утрате персональных данных Оператор информирует Пользователя об&nbsp;утрате персональных данных.<br>
    <br>
    5.5. Оператор принимает необходимые организационные и&nbsp;технические меры для&nbsp;защиты персональной информации
    Пользователя от&nbsp;неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
    распространения, а&nbsp;также от&nbsp;иных неправомерных действий третьих лиц в&nbsp;рамках действующего
    законодательства Республики Беларусь.<br>
    <br>
    5.6. Оператор совместно с&nbsp;Пользователем принимает все необходимые меры по&nbsp;предотвращению убытков или иных
    отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.<br>
    <br>
    6. Обязательства сторон<br>
    <br>
    6.1. Пользователь обязан предоставить достоверные персональные данные, необходимые для&nbsp;оказания услуг
    Оператором.<br>
    <br>
    6.2. Оператор обязан:<br>
    <br>
    6.2.1. Использовать полученную информацию исключительно для&nbsp;целей, указанных в п.&nbsp;4 настоящей Политики
    конфиденциальности.<br>
    <br>
    6.2.2. Обеспечить хранение конфиденциальной информации в&nbsp;тайне, не&nbsp;разглашать без предварительного
    письменного разрешения Пользователя, а&nbsp;также не&nbsp;осуществлять продажу, обмен, опубликование, либо
    разглашение иными возможными способами переданных персональных данных Пользователя, за&nbsp;исключением п.&nbsp;5.2.
    и п.&nbsp;5.3. настоящей Политики Конфиденциальности.<br>
    <br>
    6.2.3. Принимать меры предосторожности для&nbsp;защиты конфиденциальности персональных данных Пользователя согласно
    порядку, обычно используемого для&nbsp;защиты такого рода информации в&nbsp;существующем деловом обороте.<br>
    <br>
    6.2.4. Осуществить удаление персональных данных, относящихся к&nbsp;соответствующему Пользователю, с&nbsp;момента
    соответствующего обращения или запроса Пользователя или его законного представителя либо уполномоченного органа
    по&nbsp;защите прав субъектов персональных данных.<br>
    <br>
    7. Ответственность сторон<br>
    <br>
    7.1. Оператор, не&nbsp;исполнивший свои обязательства, несёт ответственность за&nbsp;убытки, понесённые
    Пользователем в&nbsp;связи с&nbsp;неправомерным использованием персональных данных, в&nbsp;соответствии
    с&nbsp;законодательством Республики Беларусь, за&nbsp;исключением случаев, предусмотренных п.&nbsp;5.2.,
    п.&nbsp;5.3. и п.&nbsp;7.2. настоящей Политики Конфиденциальности.<br>
    <br>
    7.2. В&nbsp;случае утраты или разглашения Конфиденциальной информации Оператор не&nbsp;несёт ответственность, если
    данная конфиденциальная информация:<br>
    <br>
    7.2.1. Стала публичным достоянием до&nbsp;её&nbsp;утраты или разглашения.<br>
    <br>
    7.2.2. Информация была получена сторонними лицами от&nbsp;третьей стороны в&nbsp;не&nbsp;зависимости о&nbsp;момента
    её&nbsp;получения Оператор.<br>
    <br>
    7.2.3. Была разглашена с&nbsp;согласия Пользователя.<br>
    <br>
    7.2.4. Была разглашена сторонними сайтами и&nbsp;сервисами, ссылки на&nbsp;использование которых присутствуют
    на&nbsp;Сайте, в&nbsp;случае использования таких ссылок и&nbsp;сервисов Пользователем.<br>
    <br>
    7.3. Пользователь самостоятельно несет ответственность за&nbsp;возможные последствия в&nbsp;случае представления
    недостоверных и/или неполных персональных данных.<br>
    <br>
    8. Разрешение споров<br>
    <br>
    8.1. До&nbsp;обращения в&nbsp;суд с&nbsp;иском по&nbsp;спорам, возникающим из&nbsp;отношений между Сторонами,
    обязательным является предъявление претензии (письменного предложения о&nbsp;добровольном урегулировании спора).<br>
    <br>
    8.2. Получатель претензии в&nbsp;течение 30 календарных дней со&nbsp;дня получения претензии, письменно уведомляет
    заявителя претензии о&nbsp;результатах рассмотрения претензии.<br>
    <br>
    8.3. При недостижении соглашения, спор будет передан на&nbsp;рассмотрение в&nbsp;судебный орган по&nbsp;месту
    нахождения Оператора в&nbsp;соответствии с&nbsp;действующим законодательством Республики Беларусь.<br>
    <br>
    8.4. К&nbsp;настоящей Политике конфиденциальности и&nbsp;отношениям между Пользователем и&nbsp;Оператором
    применяется действующее законодательство Республики Беларусь.<br>
    <br>
    9. Дополнительные условия<br>
    <br>
    9.1. Оператор вправе вносить изменения в&nbsp;настоящую Политику конфиденциальности без согласия Пользователя.<br>
    <br>
    9.2. Изменения Политики конфиденциальности вступают в&nbsp;силу с&nbsp;момента их&nbsp;размещения на&nbsp;Сайте.<br>
    <br>
    9.3. Все предложения или вопросы по&nbsp;настоящей Политике конфиденциальности принимаются Оператором
    на&nbsp;электронный ящик&nbsp;<a href="mailto:info@hotfixcafe.com" class="top-a">info@hotfixcafe.com</a>.<br>
    <br>
    9.4. Действующая Политика конфиденциальности размещена на&nbsp;Сайте <a
        href="https://hotfixcafe.by" class="top-a">https://hotfixcafe.by</a><br>
    <br>
    <br>
    Настоящее согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный
    адрес&nbsp;<a href="mailto:info@hotfixcafe.com" class="top-a">info@hotfixcafe.com</a>.<br>


</div>

{% endblock %}